@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .text-12 {
    @apply text-[12px] leading-normal;
  }

  .text-14 {
    @apply text-[14px] leading-normal;
  }

  .text-16 {
    @apply text-[16px] leading-normal;
  }

  .text-18 {
    @apply text-[18px] leading-normal;
  }

  .text-20 {
    @apply text-[20px] leading-normal;
  }

  .text-24 {
    @apply text-[24px] leading-normal;
  }

  .text-32 {
    @apply text-[32px] leading-normal;
  }
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.glassmorphism-auth {
  background: rgba(6, 3, 3, 0.711);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.glassmorphism-black {
  background: rgba(18, 18, 18, 0.64);
  backdrop-filter: blur(37px);
  -webkit-backdrop-filter: blur(37px);
}
